img {
    float: right;
}
body {
    font-family: 'Shippori Antique', sans-serif;
    height: 100vw
}
.text {
    text-align: center;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}
.names {
    top: calc(100vw - 5px);
}