.right {
    position: absolute;
    width: 25vw !important;
    right: 0;
    justify-content: right;
    text-align: center;
}

body {
    font-family: 'Shippori Antique', sans-serif;
    height: 100vh;
    width: 100vw !important;
}
.text {
    text-align: center;
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
}

.names { 
    position: relative;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
} 

* {
    user-select: none;
}