img, #sponsors {
    float: right;
    margin-bottom: 1px;
}
body {
    font-family: 'Shippori Antique', sans-serif;
    height: 100vh;
    overflow: hidden;
}
.text {
    text-align: center;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}
.names {
    text-align: center;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 5px; 
}
